<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Server=localhost\SQLEXPRESS01;Database=united;Trusted_Connection=True;" />
		<add key="ExcelOutput" value="files/Electric.xlsx" />
		<add key="LastActualDate" value="01.01.2022" />
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File.path" value="log/logTariffManager-.log" />
		<add key="serilog:write-to:File.rollingInterval" value="Day" />
		<add key="serilog:write-to:Seq.restrictedToMinimumLevel" value="Information" />
		<add key="serilog:write-to:File.outputTemplate" value="[{Timestamp:HH:mm:ss} {Level:u3}}] {SourceContext}{NewLine}{Message}{NewLine}in method {MemberName} at {FilePath}:{LineNumber}{NewLine}{Exception}{NewLine}"/>
	</appSettings>
</configuration>